@charset "utf-8";

/* --- media-print-query --- */
@media print {

  /* bootstrap hacking */
  .collapse {
    display: block;
  }
  .navbar-nav {
    float: left!important;
  }
  .col-md-8 {
    float: left;
    width: 70%;
  }
  .col-md-4 {
    float: right;
    width: 30%;
  }
  .navbar-right {
    float: right;
  }
  .navbar-header {
    float: left;
  }
  
  #toggle-btn {
    display: none;
  }
 
  /* original style customize */
  
  /* ### header-nav ### */
  #header-nav ul {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  #header-nav li {
    display: table-cell;
  }
  #header-nav li:first-child a {
    margin-right: 5px;
  }

  /* ### global-nav ### */
  #global-nav {
    background: none;
    border: none;
    border-radius: 0;
    background: linear-gradient(to bottom, #ffe4e4 10%, #FFFFFF 100%);
    margin-bottom: 0;
  }
  #global-nav ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-left: 0!important;
    list-style: none;
  }
  #global-nav  li {
    display: table-cell;
    width: 100%;
  }
  #global-nav .navbar-nav, #global-nav .navbar-nav>li {
    float: none;
  }
  #global-nav .navbar-nav li a {
    padding-left: 0;
    font-size: 80%;
  }
  #global-nav li a {
    display: block;
    border: 4px solid #DD6967;
    border-radius: 11px;
    margin-left: 5px;
    margin-right: 5px;
    background: #ffffff;
    padding: 0.8em 0px 0.8em 0px!important;
    text-align: center;
  }
  #global-nav li:nth-child(1) a {
    background: #fff url(images/menu-bk-01.png) no-repeat!important;
  }

  #global-nav li:nth-child(2) a {
    background: #fff url(images/menu-bk-02.png) no-repeat!important;
  }

  #global-nav li:nth-child(3) a {
    background: #fff url(images/menu-bk-03.png) no-repeat!important;
  }

  #global-nav li:nth-child(4) a {
    background: #fff url(images/menu-bk-04.png) no-repeat!important;
  }

  #global-nav li:nth-child(5) a {
    background: #fff url(images/menu-bk-05.png) no-repeat!important;
  }

  #global-nav li:nth-child(6) a {
    background: #fff url(images/menu-bk-06.png) no-repeat!important;
  }

  #global-nav li:nth-child(7) a {
    background: #fff url(images/menu-bk-07.png) no-repeat!important;
  }
  
  /* ### footer-nav ### */
  #footer #footer-nav li {
    float: left;
    background: none!important;
  }
  #footer #footer-nav li:after {
    content: "｜";
  }
  #footer #footer-nav li:last-child:after {
    content: "";
  }
  #footer address {
    display: block;
    clear: both;
    text-align: center;
  }

}
/* --- /media-print-query --- */