@charset "utf-8";

/* Print css Load */
@import url(css/print.css);

/* Bootstrap Hacking */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 970px;
  }
}
.navbar-toggle {
  background-color: #FFFFFF;
  border-color: #d9534f!important;
}
.navbar-toggle .icon-bar {
  background-color: #d9534f!important;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #D9534F!important;
}
.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar {
  background-color: #fff!important;
}
a, a:hover, a:focus, a:active {
  text-decoration: underline;
}
body {
  color: #000;
}
h2,h3,h4,h5,h6 {
  font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:hover {
  color: #23527c;
}
.btn-danger {
  background: #CC404F;
}

/* Original CSS */

/* ### header ### */

#header {
  background: linear-gradient(to bottom, #FED5D5 50%, #ffe4e4 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

#header .navbar {
  margin-bottom: 0;
}

#header #header-nav li a {
  font-weight: bold;
}
/* --- media-query --- */
@media (min-width: 768px) {

#header #font-sizer {
  margin-top: 20px;
  margin-left: 66px;
  background: #fff;
  width: 212px;
  padding: 8px 10px;
  border-radius: 10px;
}

#header #header-nav {
    margin-left: 50px;
}
#header #header-nav li a {
  background: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}

#header #header-nav li:first-child a {
  margin-right: 20px;
}
  
}
/* --- /media-query --- */
/* --- media-query --- */
@media (max-width: 767px) {

#header h1 img {
  display: block;
  margin: 20px auto;
}
  
#header #font-sizer {
  background: #fff;
  width: 212px;
  margin: 0 auto;
  padding: 8px 10px;
  border-radius: 10px;
}

#header #header-nav li:first-child {
  margin-bottom: 5px;
}
#header #header-nav li a {
  background: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}
  
#header .navbar-form {
  display: block;
  width: 270px;
  padding: 0;
  margin: 10px auto;
}

}
/* --- /media-query --- */

#header #header-nav li a {
  text-decoration: none;
}

#header #header-nav li a:hover,
#header #header-nav li a:focus,
#header #header-nav li a:active {
  color: #000;
  background-color: #fffb90;
}


/* ### global-nav ### */

#global-nav li a {
  font-weight: bold;
}

/* --- media-query --- */ 
@media (min-width: 768px) {
#global-nav {
  background: none;
  border: none;
  border-radius: 0;
  background: linear-gradient(to bottom, #ffe4e4 10%, #FFFFFF 100%);
  margin-bottom: 0;
}

#global-nav ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-left: 0!important;
  list-style: none;
}

#global-nav  li {
  display: table-cell;
  width: 100%;
}

#global-nav .navbar-nav, #global-nav .navbar-nav>li {
  float: none;
}

#global-nav li a {
  display: block;
  border: 4px solid #DD6967;
  border-radius: 11px;
  margin-left: 5px;
  margin-right: 5px;
  background: #ffffff;
  padding: 0.8em 5px 0.8em 5px;
  text-align: center;
}

#global-nav li:nth-child(1) a {
  background: #fff url(images/menu-bk-01.png) no-repeat;
}

#global-nav li:nth-child(2) a {
  background: #fff url(images/menu-bk-02.png) no-repeat;
}

#global-nav li:nth-child(3) a {
  background: #fff url(images/menu-bk-03.png) no-repeat;
}

#global-nav li:nth-child(4) a {
  background: #fff url(images/menu-bk-04.png) no-repeat;
}

#global-nav li:nth-child(5) a {
  background: #fff url(images/menu-bk-05.png) no-repeat;
}

#global-nav li:nth-child(6) a {
  background: #fff url(images/menu-bk-06.png) no-repeat;
}

#global-nav li:nth-child(7) a {
  background: #fff url(images/menu-bk-07.png) no-repeat;
}

#global-nav li:first-child a {
  margin-left: 0;
}

#global-nav li:last-child a {
  margin-right: 0;
}

#global-nav .navbar-collapse{
  padding: 0;
}

}
/* --- /media-query --- */ 
/* --- media-query --- */
@media (max-width: 767px) {

#global-nav {
  border: none;
  box-shadow: none;
  background: none;
  margin-bottom: 0;
  min-height: 0;
}

#global-nav li {
  margin-bottom: 3px;
}

#global-nav li:last-child {
  margin-bottom: 0;
}

#global-nav li a {
  border: 3px solid #DD6967;
  border-radius: 11px;
  padding: 5px;
}
  
#global-nav .navbar-nav li a {
  padding-left: 30px;
}

#global-nav li:nth-child(1) a {
  background: #ffffff url(images/menu-icon01.png) no-repeat;
}
#global-nav li:nth-child(2) a {
  background: #ffffff url(images/menu-icon02.png) no-repeat;
}
#global-nav li:nth-child(3) a {
  background: #ffffff url(images/menu-icon03.png) no-repeat;
}
#global-nav li:nth-child(4) a {
  background: #ffffff url(images/menu-icon04.png) no-repeat;
}
#global-nav li:nth-child(5) a {
  background: #ffffff url(images/menu-icon05.png) no-repeat;
}
#global-nav li:nth-child(6) a {
  background: #ffffff url(images/menu-icon06.png) no-repeat;
}
#global-nav li:nth-child(7) a {
  background: #ffffff url(images/menu-icon07.png) no-repeat;
}

.navbar-form {
  border: none;
  box-shadow: none;
}

.navbar-collapse {
  border: none;
  box-shadow: none;
}

}
/* --- /media-query --- */

#global-nav li a {
  text-decoration: none;
}

#global-nav li a:hover,
#global-nav li a:focus,
#global-nav li a:active {
  color: #000;
  background-color: #fffb90;
}


/* ### footer ### */

#footer {
  border-top: 3px solid #DD6967;
  border-bottom: 3px solid #DD6967;
  padding-top: 20px;
  background-color: #ffe4e4;
}

#footer address {
  display: block;
  text-align: center;
}

/* --- media-query --- */
@media (min-width: 768px) {
#footer #footer-nav li {
  padding: 0;
}
#footer #footer-nav li:after {
  content: "｜";
}
#footer #footer-nav li:last-child:after {
  content: "";
}
}
/* --- /media-query --- */
/* --- media-query --- */
@media (max-width: 767px) {

  #footer #footer-nav li {
    display: block;
    padding-left: 15px;
    background: url(images/ul-mark-pink.gif) no-repeat;
    background-position: 0 7px;
  }
}
/* --- /media-query --- */


/* ### sub ### */

#sub-nav {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

#sub-nav li a {
  display: block;
  font-size: 110%;
  padding: 10px 10px 10px 37px;
  border-bottom: 3px dotted #DD6967;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

#sub-nav li:nth-child(1) a {
  background: url(images/menu-icon08.png) no-repeat;
  background-position: 3px 5px;
}

#sub-nav li:nth-child(2) a {
  background: url(images/menu-icon09.png) no-repeat;
  background-position: 3px 5px;
}

#sub-nav li:nth-child(3) a {
  background: url(images/menu-icon10.png) no-repeat;
  background-position: 3px 5px;
}

#sub-nav li:nth-child(4) a {
  background: url(images/menu-icon11.png) no-repeat;
  background-position: 3px 5px;
}

#sub-nav li a:hover,
#sub-nav li a:focus,
#sub-nav li a:active {
  color: #000;
  background-color: #fffb90;
}

/* ### carousel ### */
#slide-show {
  margin-top: 20px;
}

#play-controls {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  list-style: none;
}

#play-controls li a,
#play-controls li a:hover,
#play-controls li a:active,
#play-controls li a:focus {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}



/* ### main ### */

#main .content-block h2 {
  font-size: 140%;
  padding: 10px;
  border-bottom: 3px solid #DD6967;
  background: linear-gradient(to bottom, #ffb2b2 60%, #FFF 100%);
}

#main #article-block #info {
  font-size: 180%;
  line-height: 53px;
  padding-left: 60px;
  background: url(images/head-icon02.png) no-repeat;
  border-bottom: 3px solid #DD6967;
}
#main #article-block h3 {
  font-size: 140%;
  padding: 10px;
  border-bottom: 1px solid #DD6967;
  background: linear-gradient(to bottom, #ffb2b2 60%, #FFF 100%);
}


/* ### page-top ### */

#page-top a {
  display: block;
  float: right;
  background: #CC404F;
  text-decoration: none;
  color: #fff;
  width: 100px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

#page-top a:hover,
#page-top a:focus,
#page-top a:active {
  background: #d43f3a;
}

#page-top a:after {
  content: "";
  display: block;
  clear: both;
}

/* ### fb-timeline ### */
#fb-timeline {
  margin-bottom: 20px;
}

/* ### my-map ### */
#my-map {
  width: 100%;
  height: 350px;
}
